/*Selector universal*/
*{
    background-color: plum;
}

/*Selector de elemento o de etiqueta*/
h1, address{
    background-color: blueviolet;
    text-align: center;
}

div{
    border: solid beige 3px;
    border-bottom-right-radius:50px;
}

/*Selector clase*/
p.parrafocolor{
    background-color: thistle;
}

/*Selector de tipo id*/
p#parrafocolor{
    background-color: aquamarine;
}

/*Selector descendiente*/
div p{
    color:royalblue;
    
}

/*Selector hijo*/
div.div2>p{
    color: red;
}

div.div2{
    border-top-color:black;
    border-bottom:orange 5px solid;
    border-bottom-right-radius: 50px;
}

div.div3{
   border-image-source: url("./bulgaria.svg");
   border-image-repeat: round;
   border-width: 2000000px;
   text-align: center;
   border-image-slice: 70;
   
}

