/*Selector universal*/
*{
    background-color: plum;
}

/*Selector de elemento o de etiqueta*/
h1, address{
    background-color: blueviolet;
    text-align: center;
}

div{
    border: solid beige 3px;
}

/*Selector clase*/
p.parrafocolor{
    background-color: thistle;
}

/*Selector de tipo id*/
p#parrafocolor{
    background-color: aquamarine;
}

/*Selector descendiente*/
div p{
    color:royalblue
}

/*Selector hijo*/
div.div2>p{
    color: red;
}


